.button{
    padding: 10px 30px;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    font-weight: 600;
    font-size: 15px;
}
.button:hover{
    cursor: pointer;
}
.primary-button{
    background-color: var(--primary-color);
    color: white;
}
.primary-button:hover{
    background-color: white;
    color: black;
}
.secondary-button{

    color: var(--primary-color);
}
.secondary-button:hover{
    background-color: white;
    color: black
;
}